@{
    ViewData["Title"] = "Son of Cod Seafood - Newsletter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>The email address @ViewBag.Subscriber.Email has been added to our mailing list!</h4>

@Html.ActionLink("Return to homepage", "Index")