@{
    ViewData["Title"] = "Son of Cod Seafood - Newsletter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>You have successfully unsubscribed from our newsletter.</h3>

@Html.ActionLink("Homepage", "Index")